<!DOCTYPE html><html lang="en">
<head>
    <meta charset="utf-8">
    <title>Vanilla JavaScript autoComplete</title>
    <meta name="description" content="A lightweight autocomplete plugin with no dependencies, written in plain JavaScript.">
    <link rel="shortcut icon" href="https://pixabay.com/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300">
    <link rel="stylesheet" href="https://cdn.rawgit.com/yahoo/pure-release/v0.6.0/pure-min.css">
    <style>
        body { margin: 0; padding: 0; border: 0; min-width: 320px; color: #777; }
        html, button, input, select, textarea, .pure-g [class *= "pure-u"] { font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 1.02em; }
        p, td { line-height: 1.5; }
        ul { padding: 0 0 0 20px; }

        th { background: #eee; white-space: nowrap; }
        th, td { padding: 10px; text-align: left; vertical-align: top; font-size: .9em; font-weight: normal; border-right: 1px solid #fff; }
        td:first-child { white-space: nowrap; color: #008000; width: 1%; font-style: italic; }

        h1, h2, h3 { color: #4b4b4b; font-family: "Source Sans Pro", sans-serif; font-weight: 300; margin: 0 0 1.2em; }
        h1 { font-size: 4.5em; color: #1f8dd6; margin: 0 0 .4em; }
        h2 { font-size: 2em; color: #636363; }
        h3 { font-size: 1.8em; color: #4b4b4b; margin: 1.8em 0 .8em }
        h4 { font: bold 1em sans-serif; color: #636363; margin: 4em 0 1em; }
        a { color: #4e99c7; text-decoration: none; }
        a:hover { text-decoration: underline; }
        p { margin: 0 0 1.2em; }
        ::selection { color: #fff; background: #328efd; }
        ::-moz-selection { color: #fff; background: #328efd; }

        @media (max-width:480px) {
            h1 { font-size: 3em; }
            h2 { font-size: 1.8em; }
            h3 { font-size: 1.5em; }
            td:first-child { white-space: normal; }
        }

        .inline-code { padding: 1px 5px; background: #eee; border-radius: 2px; }
        pre {
            margin: 10px 0; overflow: auto; white-space: pre; word-wrap: normal;
            border: 0 !important; padding: 8px 10px !important; line-height: 18px; background: #edf3f8;
            font-family: Consolas, 'Liberation Mono', Courier, monospace; font-size: 14px;
        }

        /* Pure CSS */
        .pure-button { margin: 5px 0; text-decoration: none !important; }
        .button-lg { margin: 5px 0; padding: .65em 1.6em; font-size: 105%; }

        input[type="text"] { border-radius: 0 !important; }
    </style>
    <link rel="stylesheet" href="/css/auto-complete.css">
</head>
<body>
    <div style="max-width:900px;padding:0 10px;margin:40px auto;text-align:center">
        <h1>autoComplete</h1>
        <h2>An extremely lightweight and powerful vanilla JavaScript completion suggester.</h2>
    </div>
    <form onsubmit="return false" class="pure-form" style="border-top: 1px solid #eee;border-bottom:1px solid #eee;background:#fafafa;margin:30px 0;padding:20px 10px;text-align:center">
        <input type="text" name="namefruit" id="namefruit"  placeholder="Name of fruit ..." style="width:100%;max-width:600px;outline:0"><br><br><br>
        <input type="text" name="class" id="class" disabled  style="width:100%;max-width:600px;outline:0">
    </form>
    

    <script src="/js/jquery.min.js"></script>
    <script src="/js/auto-complete.js"></script>
    <script>

        var demo2 = new autoComplete({
            selector: '#namefruit',
            minChars: 1,
            source: function(term, suggest){
                term = term.toLowerCase();
                var contoh = $.getJSON("http://localhost:5000/fruit/get_name_fruit").then((res)=>{
                    var choices = res;
                    var suggestions = [];
                    for (i=0;i<choices.length;i++)
                        if (~choices[i].toLowerCase().indexOf(term)) suggestions.push(choices[i]);
                    suggest(suggestions);
                });
                
            }
        });

        $("#namefruit").on("change",function(){
           np = $(this).val();
           $.post("http://localhost:5000/fruit/search_class_fruit",{np:np}).then((r)=>{
               console.log(r);
               if (r.length > 0) {
                   $("#class").val(r[0].class);
               }else{
                   alert("Nama Tidak Ditemukan");
               }
           });
       });

        
    </script>
</body>
</html>
